{% block content %}
	<div class="row">
    <header class="large-12 medium-12 small-12 columns">
      <h1>
        favheart<span>.fm</span>
      </h1>
    </header>

    <main class="large-12 medium-12 small-12 columns">
      <h1>
        Awkward.
        <br/>
        From favstar.fm? Shoot us <a href="mailto:caidavies37@gmail.com">an email</a>
    </main>
  </div>
{% endblock %}
